.layout-body {
    background: url('../images/backgr-2.webp') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.layout-bodyA {
    background: url('../images/backgr-3.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.layout-bodyR {
    background: url('../images/backgr-4.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.btn {
    background: rgb(49, 87, 110);
    color: hwb(270 85% 14%);
    border: 5px solid rgb(224, 225, 232);
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    height: 60px;
    width: 320px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(209, 208, 188);
    color: rgb(14, 82, 111);
    border: 5px solid rgb(49, 87, 110);

}

#username {
    width: 380px;
}

#email {
    width: 380px;
}

#primary {
    width: 380px;
}

#password {
    width: 380px;
}


/* AUthorisation*/
.custom-form {
    max-width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.custom-form .form-group {
    margin-bottom: 30px;
    width: 100%;
}

.custom-form .form-control {
    border: 4px solid #7cccf5;
    border-radius: 16px;
    width: 100%;
    padding: 10px;

}

.custom-form .form-label {
    color: rgb(65, 65, 128);
}

.custom-form .form-group {
    display: flex;
    align-items: center;
}

.custom-form .form-label {
    flex: 1;
}


.custom-buttonA {
    background: #c8f2fc;
    color: #6bc2d0;
    border: 5px solid #6bc2d0;
    width: 90px;
    border-radius: 20px;
    height: 50px;
    width: 320px;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

}

.custom-buttonA:hover {
    background-color: rgb(210, 243, 246);
    color: rgb(14, 82, 111);
    border: 5px solid rgb(49, 87, 110);
}


.custom-buttonR {
    background: #88d1f8;
    color: #f8f9f9;
    border: 5px solid #2fadee;
    width: 90px;
    border-radius: 20px;
    height: 50px;
    width: 320px;
    text-align: center;
    font-weight: bold;

}

.custom-buttonR:hover {
    background-color: rgb(210, 243, 246);
    color: #0c5ac8;
    border: 5px solid #0c5ac8;
}